// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-green: #22333B;
$medium-green: #4C956C;
$light-green: #e4f0d0;
$almond: #eae0d5;
$floral-white: #fffcf7;
$light-purple: #857c8d;
$lighter-gray: #e2e2e2;

