<h1 class="page-title">All the parks</h1>

<div class="card-small-container">
  <% @parks.each do |park| %>
    <%= link_to park_path(park), style: "text-decoration:none;", class: "link-simple" do %>
      <%= render 'parks/park_thumb', park: park %>
    <% end %>
  <% end %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
