<div class="page-container">
  <div class="form-group-center">
    <h1 class="form-title">Create a new park</h1>
    <% if policy(Park).new? %>
      <%= render 'parks/form' %>
    <% else %>
      <p>Only the admin can create a new park.</p>
    <% end %>
  </div>
</div>
