<div class="page-container">
  <%= render 'park_card', park: @park %>
</div> 

<%= render './reviews/review_form', review: @review %>

<div class="reviews-container">
  <% if @park.reviews.any? %>
    <div class="card-small-container">
      <% @park.reviews.each do |review| %>
        <%= render './reviews/review_card', review: review %>
      <% end %>
    </div>
  <% else %>
    <p>No reviews yet!</p>
  <% end %>
</div>

