<h1 class="page-title">Admin Dashboard</h1>
<h3 class="page-title">
  Create a park
  <%= link_to new_park_path do %>
    <i class="fas fa-plus-square"></i>
  <% end %>
</h3>
<h3 class="page-title">
  Create a facility
  <%= link_to new_facility_path do %>
    <i class="fas fa-plus-square"></i>
  <% end %>
</h3>