<div class="banner-hp">
  <div class="banner-text">
    <h1>Find <span class="text-green">green</span> in Tokyo</h1>
    <p>This is a paragraph that will have a meaningful text at some point, but for now it's here for testing purposes.</p>
  </div>
</div>

<div class="container-full">
  <div class="content-hp">
    <div class="text-section-hp">
      <h1>About Us</h1>
      <p>Lectus arcu bibendum at varius. Suspendisse faucibus interdum posuere lorem ipsum. Curabitur gravida arcu ac tortor dignissim. Quis auctor elit sed vulputate mi sit. Sit amet risus nullam eget felis eget nunc. Risus ultricies tristique nulla aliquet enim tortor at auctor. Sit amet porttitor eget dolor morbi. Egestas sed sed risus pretium quam vulputate dignissim suspendisse. Tortor at auctor urna nunc. Sit amet consectetur adipiscing elit ut aliquam purus sit amet. Dolor sit amet consectetur adipiscing elit. Ut consequat semper viverra nam libero justo laoreet sit amet. Accumsan lacus vel facilisis volutpat. Varius vel pharetra vel turpis nunc eget. Cras pulvinar mattis nunc sed blandit libero volutpat. Orci ac auctor augue mauris. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem.</p>
    </div>
  </div>
</div>
