.btn-normal {
  width: 30%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: $dark-green;
  color: $light-green;
  a {
    color: $light-green;
  }

  &:hover {
    opacity: 0.5;
  }
}

.btn-green {
  background-color: $light-green;
  a {
    color: $dark-green;
  }
}