<div class="form-group-center">
  <h2>Write a review</h2>
  <%= simple_form_for [@park, @review] do |f| %>
    <%= f.input :rating, collection: 1..5, class:"input-line", label: "Rate this Park" %>
    <%= f.input :content, as: :text, class:"input-line" %>
    <%= f.submit "Publish", class: "btn-normal" %>
  <% end %>
</div>